#pre-footer {
	background-color: #ECF0F1;
	padding: 30px 0;
    height: 248px;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	span {
		font-size: 24px;
		line-height: 32.68px;
        margin: 0 0 20px 0;
        display: block;
	}

	p {
		font-size: 16px;
		line-height: 21.79px;
        text-align: left;
	}

    li {
        font-size: 16px;
		line-height: 21.79px;  
    }

    img {
        width: 100%;
        max-width: 300px;
        max-height: 87px;
    }

    .col-lg-4 {
        text-align: left;

        &:nth-child(2) {
            text-align: center;
        }
    }
}

.footer {
	background-color: #2C3E50;
	padding: 15px 0;
	text-align: right;
	height: 56px;

    span {
        font-size: 16px;
        line-height: 21.79px;
        color: #fff;
    }
}

@media(max-width: $tablet-max) {
    #pre-footer {
		max-width: 100%;
		height: auto;
		padding: 40px 0;
        
		.col-lg-4 {
			&:nth-child(2) {
				margin: 0;
			}
		}

		span {
			text-align: center;
			font-size: 20px;
			line-height: 27.24px;
		}

		p {
			text-align: center;
			font-size: 16px;
			line-height: 21.79px;
			max-width: 400px;
			margin: 0 auto;
		}

		.row {
			> div {
				margin: 0 0 20px 0;

				&:nth-child(3) {
					text-align: center;
				}
			}
		}
	}

	.footer {
		text-align: center;
	}
}